{% extends 'base.html' %}
{% block title %}Infinite Cloud{% endblock %}
{% block login %}
    <div class="container">
        <h1 class="welcome">Seja bem vindo!</h1>
        <h1 class="welcome">Mantenha seus arquivos seguros</h1>
        <h1 class="welcome">no Infinite Storage!</h1>
    </div>
{% endblock %}