{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Infinite Cloud{% endblock %}
{% block login %}
            <div class="login jumbotron">
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form | bootstrap }}
                    <button type="submit" class="float-right btn btn-primary">Login</button>
                </form>
            </div>
{% endblock %}