{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Meus arquivos{% endblock %}
{% block main %}

    <div class="row">
        <div class="col-lg-4">
            <h1>Meus arquivos</h1>
        </div>
        <div class="col-lg-8">
            <div class="file-upload">
                <form action="{% url 'myfiles' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | bootstrap }}
                    <button type="submit" class="float-right btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if files|length > 0 %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Tamanho</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}
                        <tr>
                            <td><a href="{{ file.archive.url }}">{{ file.archive.name }}</a></td>
                            <td>{{ file.archive.size|filesizeformat }}</td>
                            <td>
                                <form action="" method="get">
                                    <button class="btn btn-default" name="DeleteButton" value="{{ file.id }}">Remover
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if files|length == 0 %}
                <div class="jumbotron message">
                    <div class="text-center">
                        <h4>Você não possui arquivos hospedados!</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

