footer {
    background-color: #f5f5f5;
    margin-top: auto !important;
    padding: 20px 0px;
}

.file-upload {
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
}

.file-upload form {
    height: 38px;
}

.file-upload .form-group {
    display: inline-block;
    margin-right: 40px;
}

.file-upload .form-group label {
    display: none;
}

.file-upload .form-group span {
    display: none;
}

h1 {
    font-size: 30px;
    margin-top: 30px;
}

.welcome {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 45px;
    top: 145px;
    position: relative;
}

.login {
    padding: 28px 20px 55px 20px;
    background-color: #f8f9fa;
    width: 300px;
    margin: 0 auto;
    top: 60px;
    position: relative;
}

.login button {
    background-color: #0062ff;
}

.bg-home {
    width: 100%;
    height: calc(100vh - 62px);
    background-image: url("images/bg.png");
}

nav .admin p {
    display: inline-block;
    margin: 10px 2px;
}

.message {
    width: 100%;
    margin-top: 20px;
}

table {
    margin-top: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table thead {
    background-color: #0062ff;
    color: #fff;
}

.table thead th {
    border: none;
}

.table td {
    padding: 5px 20px;
    vertical-align: middle;
}

